<!Doctype html>
<html>
<head>
	<title>Home</title>
</head>
<body> 
	<header style="color:blue;font-size:30px;font-family:calibri;text-align: center;">
				<b>Information Retrieval based on Text</b>
	</header>
		<div class="container">
		<form action="/finalresult" method="POST">  
		<p style="color:blue;font-size:20px;font-family:calibri"><b>Type your Question or Keyword</b></p>
		<textarea name="QA" rows="1", cols="100" style="color:black;font-size:20px;font-family:calibri"></textarea>
		<br/>
		<input type="submit" value="Search" style="color:blue;font-size:25px;font-family:calibri;"> 
		</form>
		</div>
</body>
</html>
